---
import { Image } from "astro:assets";
interface Props {
	imagePath: string;
	altText: string;
	title: string;
	subTitle: string;
	description: string;
}
const { imagePath, altText, title, subTitle, description } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/icons/*.{jpeg,jpg,png,gif,svg}"
);
if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "/src/assets/icons/*.{jpeg,jpg,png,gif,svg}"`
	);
---

<div class="Card">
	<div class="Card-imagebox">
		<Image
			src={images[imagePath]()}
			alt={altText}
			width={60}
			class="Card-image"
		/>
	</div>
	<div Card-body>
		<h1 class="Card-title">{title}</h1>
		<p>{subTitle}</p>
		<p class="Card-description">{description}</p>
	</div>
</div>

<style lang="scss">
	.Card {
		width: 300px;
		background-color: var(--blue-70);
		height: fit-content;
		color: var(--uiBlack);
		gap: 1em;
		border-radius: 1em;
		overflow: hidden;
		display: flex;
		flex-flow: row nowrap;
		padding: 2em 1em;
		flex-grow: 1;
		// flex: 1;
		// flex-basis: 1;

		&-image {
			object-fit: cover;
			height: auto;
			transition: all ease 0.3s;

			&:hover {
				scale: 1.2;
			}
		}
		&-text {
			padding: 1em;
			display: flex;
			flex-flow: column nowrap;
			gap: 1em;
			line-height: 1.3;
		}
		&-title {
			margin: 0;
			font-size: 2rem;
			letter-spacing: -0.1rem;
		}
		&-description {
			margin: 0;
		}
		&-price {
			font-size: 2rem;
			font-weight: bolder;
			display: flex;
			align-items: center;
			gap: 0.3em;
			justify-content: center;
			margin: 0;

			span {
				color: rgb(197, 197, 197);
				font-weight: 400;
				font-size: 1rem;
			}
		}
	}
</style>
